body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
}

h1:after {
    content: '';
    background: #007bff;
    height: 4px;
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.section {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.section:last-child {
    border-bottom: none;
}

.section-title {
    font-size: 1.8rem;
    padding-left: 40px;
    color: #007bff;
    margin-bottom: 10px;
}

p {
    font-size: 1.1rem;
    margin: 5px 0 10px 0;
    padding-left: 80px;
}

.key {
    font-weight: bold;
}

.value {
    margin-left: 10px;
    display: inline-block;
}

.item {
    background: linear-gradient(to right, #f9f9f9, #fff);
    padding: 10px;
    margin-bottom: 10px;
    border-left: 5px solid #007bff;
    animation: enter 0.5s ease-out;
}

@keyframes enter {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}